@import '../../styles/variables';
@import '../../styles/mixins';

.tab-content {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: $spacing-md;

  @media (max-width: 600px) {
    gap: $spacing-sm;
  }
}
